@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --primary-color: #2284c5;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

#issue-category {
  border: none;
}

.issue-category {
  appearance: none; /* Remove native arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'><path fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M36 18L24 30L12 18'/></svg>")
    no-repeat right 1rem center;
  background-size: 1rem;
  padding-right: 2rem;
}

.active-link {
  color: var(--primary-color);
  font-weight: bold;
  border-bottom: 2px solid var(--primary-color);
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: white;
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: #1e40af;
}

.footer .footer-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  width: 90%;
}

.footer-h1 {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.footer .first {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.footer-link a,
.footer-link ul,
.footer-link li {
  text-decoration: none;
  color: grey;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-link li {
  margin: 10px 0;
}

.footer-top .first p {
  font-family: "Nuito", sans-serif;
}

.footer-svg {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.home-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  position: relative;
  /* background: url('./assets/d0741e7f8e8c89079a86f56c4f156416.jpeg') center center no-repeat; */
  background: linear-gradient(
      65.4deg,
      rgba(30, 64, 175, 0.6) 32.98%,
      rgba(64, 170, 158, 0.6) 95.47%
    ),
    url("./assets/d0741e7f8e8c89079a86f56c4f156416.jpeg") center center
      no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home-page .wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 40px;
}

.home-page .wrapper h1 {
  font-size: 54px;
  font-family: "Public Sans", sans-serif;
  line-height: 80px;
  font-weight: 700;
  margin: 24px 0;
}

.home-page .wrapper p {
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  margin: 10px 0;
  line-height: 30px;
}

.search-filter {
  width: 100%;
  margin: 30px 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.search-filter .search {
  width: 55%;
  /* background-color: red; */
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.search-filter .search input {
  width: 100%;
  border: none;
  background-color: transparent;
}

.search-filter .search input::placeholder {
  border: none;
  padding: 0 10px;
  color: white;
}

.search-filter .search input::content {
  border: none;
}

.search-filter .filter-button {
  width: 15%;
  /* background-color: red; */
  margin-left: 10px;
  padding: 15px;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #4dccbd;
}

.search-filter .filter-button span {
  font-size: 14px;
  box-sizing: border-box;
  margin-left: 5px;
}

.explore {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.explore-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
}

.explore-cards .card {
  width: 30%;
  margin: 10px;
  /* padding: 20px; */
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explore-cards .card img {
  width: 100%;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  margin-bottom: auto;
}

.explore-cards .card article {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card article h2 {
  font-size: 14px;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  margin: 0;
}

.card article p {
  font-size: 12px;
  /* font-family: 'Public Sans', sans-serif; */
  font-weight: 200;
  margin: 10px 0;
}

.explore-button {
  border: none;
  padding: 10px 20px;
  background-color: #1e40af;
  color: white;
  border-radius: 8px;
}

.navigator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #d2d9ef33;
}
.navigator .photos {
  /* width: 35%; */
  height: 350px;
  border: none;
  box-sizing: border-box;
  display: flex;
}

.navigator .photos img {
  width: 150px;
  height: 150px;
  margin: 10px;
  box-sizing: border-box;
}

.navigator .photos .first {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
  border-radius: 5px;
}

.navigator .photos .first img {
  border-radius: 8px;
}

.navigator .photos .second img {
  border-radius: 8px;
}

.navigator .photos .second {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
  align-items: flex-end;
  align-self: flex-end;
}

.navigate-text p {
  font-size: 12px;
  line-height: 20px;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  margin: 10px 0;
}

.extra-height {
  height: 200px;
  /* display: none; */
}

.contact-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 20px auto;
}

.main-screen {
  width: 100%;
}

.contact .header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 20px auto;
}

.contact .header h1 {
  font-size: 54px;
  font-family: "Public Sans", sans-serif;
  line-height: 50px;
  font-weight: 700;
  margin: 20px 0;
}

.contact-details {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 20px auto;
}

.contact-details .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.labeled-select {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

/* .labeled-select select {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
} */

.labeled-select label {
  font-size: 14px;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  margin: 10px 0;
}

.official-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
}

.search-officials {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 8px;
  border: none;
  color: white;
  background: #1e40af;
}

.contact-img {
  width: 90%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: url("./assets/grid_system.jpeg") center no-repeat;
  background-size: cover;
}

.contact-img h1 {
  width: 60%;
  font-size: 48px;
  font-family: "Public Sans", sans-serif;
  line-height: 70px;
  font-weight: 700;
  margin: 20px 0;
  text-align: center;
  color: white;
}

.contact-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.profile-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 20px auto 0 auto;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.profile-card .drs {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.profile-card .drs img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-card .drs .name-details {
  margin-left: 10px;
}

.profile-card .drs .name-details h2,
.profile-card .drs .name-details p,
.profile-card .drs .name-details span {
  margin: 0;
  font-size: 14px;
}

.profile-card button {
  padding: 10px 20px;
  background-color: #1e40af;
  color: white;
  border: none;
  border-radius: 8px;
}
